.idea
.gitignore
create_branch.sh
.vscode
*.json
*.o
# Autotools
build/
Makefile
*/Makefile
Makefile.in
*/Makefile.in
missing
install-sh
install-sh~
depcomp
configure
configure~
config.status
config.log
compile
ar-lib
aclocal.m4
autom4te.cache
*/.deps
*/*/.deps
*/*/*.gcda
*/*/*.gcno
*/*.gcda
*/*.gcno
*/*.gcov
*.gcno
tests/actual
tests/expected
tests/test.txt